<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | The Ruby on Rails Tutorial Sample App</title>
    <!-- This includes the css for the app -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- This includes the JavaScript for the app -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- This is ruby's way of preventing a specific type of malicious web attack -->
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- This is where each page's specific individual code will go -->
    <%= yield %>

  </body>
</html>
