<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- This includes the css for the app -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- This includes the JavaScript for the app -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- This is ruby's way of preventing a specific type of malicious web attack -->
    <%= csrf_meta_tags %>
    <!-- This renders the HTML5 shim partial for IE -->
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <!-- renders our header partial file -->
    <%= render 'layouts/header' %>
    <div class="container">

      <!-- This embedded ruby bit is here to use the flash hash to display any
      additional messages that may be necessary in each page -- example:
      welcome message for newly-registered users. -->
      <% flash.each do |message_type, message| %>
        <!-- these next two lines of code do the same exact thing -->
        <%= content_tag(:div, message, class: "alert alert-#{ message_type }") %>
        <!--
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        -->
      <% end %>

      <!-- This is where each page's specific individual code will go -->
      <%= yield %>

      <!-- This is renders the footer partial -->
      <%= render 'layouts/footer' %>

      <!-- We add a debugging display for development environment only -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
